@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

:root {
    --tamanho-header: 3.5rem;

    /*Cores no estilo HSL*/
    --cor-laranja: hsl(14, 98%, 50%);
    --cor-preto: hsl(0, 0%, 0%);
    --cor-preto-claro: hsl(0, 0%, 40%);
    --cor-branca: hsl(0, 0%, 95%);
    --cor-titulo: hsl(0, 0%, 0%);
    --cor-texto: hsl(0, 0%, 35%);
    --cor-texto-claro: hsl(0, 0%, 64%);
    --cor-body: hsl(0, 0%, 87%);
    --cor-container: hsl (0, 0%, 83%);
    
    /*Fonte e tamanhos*/
    --body-font: 'Bai Jamjuree', sans-serif;
    --tamanho-fonte-maior: 2.5rem;
    --h1-tamanho-fonte: 1.75rem;
    --h2-tamanho-fonte: 1.25rem;
    --h3-tamanho-fonte: 1.125rem;
    --tamanho-fonte-normal: 0.938rem;
    --tamanho-fonte-pequena: 0.813rem;
    --tamanho-fonte-minuscula: 0.75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*Tipografia responsivos*/

@media screen and (min-width: 1150px) {
    :root {
        --tamanho-fonte-maior: 4.5rem;
        --h1-tamanho-fonte: 3rem;
        --h2-tamanho-fonte: 1.5rem;
        --h3-tamanho-fonte: 1.25rem;
        --tamanho-fonte-normal: 1rem;
        --tamanho-fonte-pequena: 0.875rem;
        --tamanho-fonte-minuscula: 0.813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--tamanho-fonte-normal);
    background-color: var(--cor-body);
    color: var(--cor-texto);
}

h1, h2, h3, h4 {
    color: var(--cor-titulo);
    font-weight: var(--font-bold);    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;   
}

/* Tema */

/* Tema Escuro */

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: block;
    gap: 1.5rem;
}

.section {
    padding-block: 4rem 2rem;
}

.section__titulo-1,
.section__titulo-2 {
    position: relative;
    font-weight: var(--h1-tamanho-fonte);
    width: max-content;
    margin: 0.75rem auto 2rem;
}

.section__titulo-1 span,
.section__titulo-2 span {
    z-index: 5;
    position: relative;
}

.section__titulo-1::after,
.section__titulo-2::after {
    content: "";
    width: 40px;
    height: 28px;
    background-color: hsla(14, 98%, 50%, 0.2);
    position: absolute;
    top: -4px;
    right: -8px;
}

.section__titulo-2::after {
    top: initial;
    bottom: -4px;
}

.quadrado {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--cor-laranja);
    rotate: -30px;
}

.quadrado::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--cor-preto);
    left: -5px;
    top: -5px;
}

.main {
    overflow: hidden; /*Para aparecer a animação do scroll*/
}

/* Código do Header e Nav's */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--cor-body);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--tamanho-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--cor-titulo);
}

.nav__logo-circulo, .nav__toggle {
    width: 32px;
    height: 32px;
    background-color: var(--cor-preto);
    color: var(--cor-branca);
    display: grid;
    place-items: center;
}

.nav__logo-circulo {
    border-radius: 50%;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, 0.75);
        width: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        backdrop-filter: blur(8px);
        transition: top 0.4s;
    }
}

.nav__titulo,
.nav__nome,
.nav__close {
    color: var(--cor-branca);
}

.nav__titulo {
    display: block;
    font-size: var(--tamanho-fonte-minuscula);
    font-weight: var(--font-semi-bold);
    margin-bottom: 3.5rem;
}

.nav__nome {
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
    font-size: var(--h2-tamanho-fonte);
}

.nav__nome::after,
.nav__nome::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--cor-texto-claro);
    position: absolute;
    top: 50%;
    left: -4rem;
}

.nav__nome::before {
    left: initial;
    right: -4rem;
}

.nav__lista {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    position: relative;
    color: var(--cor-texto-claro);
    font-size: var(--h3-tamanho-fonte);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--cor-branca);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.3s;
}

.nav__link:hover {
    color: var(--cor-branca);
}

.nav__link:hover::after {
    width: 25%;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.show-menu {
    top: 0;
}